<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" /> 
    <title> Cadastro Usuário</title>
  </head>
  <body ng-app="myApp">
   <div ng-controller="UsuarioController as usuarioCtrl">
       <h1> Cadastro Usuário </h1>
	<form name="usuarioForm" method="POST">
	   
	</form>
       
	</div>
    <script src="${pageContext.request.contextPath}/app-resources/js/lib/angular.min.js"></script>
    <script src="${pageContext.request.contextPath}/app-resources/js/lib/angular-resource.min.js"></script>
	<script src="${pageContext.request.contextPath}/app-resources/js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/app-resources/css/style.css"/>
 </body>
</html>  
  